@import "tailwindcss";

:root {
  --background: #EDEDE9;
  --foreground: #212529;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  /* Font Family Definitions */
  
  --font-sans: var(--font-outfit), sans-serif;
  --font-mono: var(--font-azeret-mono), monospace;
  --font-playfair: var(--font-playfair), serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}